@font-face {
  font-family: "Inter-Medium";
  src: url("./assets/fonts/Inter-Medium.ttf") format("truetype");
}
body{
  margin: 0; 
  padding: 0; 
  width: 100%;
  overflow-x: hidden;
  background-color: rgb(251, 251, 251);
  text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.1);
  font-family: "Inter-Medium", sans-serif !important;
} 
p{
    margin: 0;
}

